<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <!-- 信息栏开始 -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>Kindle标注处理</h2>
            </div>
        </div>
        <!-- 信息栏结束 -->
        <!-- 导航栏开始 -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav nav-tabs">
                    {% block nav %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        <!-- 导航栏结束 -->
        <!-- 主体内容开始 -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% block main %}
                {% endblock %}
            </div>
        </div>
        <!-- 主体内容结束 -->
    </div>
    <script src="{{ url_for('static', filename='/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
</body>
</html>