<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>显示笔记</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">

        <div class="row main-title">
            <div class="col-md-10 col-md-offset-1">
                <h2>Kindle标注处理程序</h2>
            </div>
       	</div>

		<div class="row nav">
		    <div class="col-md-10 col-md-offset-1">
		        <ul class="nav nav-tabs">
		            <li role="presentation"><a href="#">选择图书</a></li>
		            <li role="presentation"><a href="#">查看标注</a></li>
		            <li role="presentation" class="active"><a href="#">查看笔记</a></li>
		            <li role="presentation"><a href="#">关于</a></li>
		        </ul>
		    </div>
		</div>

		<div class="row note">
			<div class="col-md-10 col-md-offset-1">
				<section id="note">
					<h4>JavaScript权威指南</h4>
					<!-- name -->
					<span class="tag">标签：<span class="label label-default">JavaScript</span></span>
					<!-- tag -->
					<span class="time">添加时间：<span class="label label-primary">2015-09-17</span></span>
					<!-- time -->
					<article>
						“DOM2级事件”定义了两个方法，用于处理指定和删除事件处理程序的操作：addEventListener()和removeEventListener()。<br />所有DOM节点中都包含这两个方法，并且它们都接受3个参数：要处理的事件名、作为事件处理程序的函数和一个布尔值。<br />最后这个布尔值参数如果是true，表示在捕获阶段调用事件处理程序；如果是false，表示在冒泡阶段调用事件处理程序。
					</article>
				</section>

				<section id="mark">
					<hr>
					<article>
						“DOM2级事件”定义了两个方法，用于处理指定和删除事件处理程序的操作：addEventListener()和removeEventListener()。<br />所有DOM节点中都包含这两个方法，并且它们都接受3个参数：要处理的事件名、作为事件处理程序的函数和一个布尔值。<br />最后这个布尔值参数如果是true，表示在捕获阶段调用事件处理程序；如果是false，表示在冒泡阶段调用事件处理程序。
					</article>
				</section>
				<span id="detail">显示标注<i class="glyphicon glyphicon-menu-down"></i></span>
			</div>
		</div>
   	</div>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
		$("#detail").click(function() {
			$("#mark").toggle(500);
			if($("#detail i").hasClass("glyphicon-menu-down")){
				$("#detail i").removeClass("glyphicon-menu-down");
				$("#detail i").addClass("glyphicon-menu-up")
			} else {
				$("#detail i").removeClass("glyphicon-menu-up");
				$("#detail i").addClass("glyphicon-menu-down")
			}
		})
	</script>
</body>
</html>
