{% extends 'base.html' %}
{% block title %}显示标注文件{% endblock %}

{% block nav %}
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{{ url_for('main.index') }}">查看标注</a></li>
      <li role="presentation"><a href="{{ url_for('main.showNote') }}">查看笔记</a></li>
      <li role="presentation" class="active"><a href="{{ url_for('main.about') }}">关于</a></li>
    </ul>
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="container">
        <div class="col-md-offset-1 col-lg-10">

            <h3><a href="http://lleobox.github.io/kindleNote/">Kindle笔记整理</a></h3>
        </div>
    </div>
{% endblock %}