{% extends 'bootstrap/base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui-dialog.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row main-title">
            <div class="col-md-10 col-md-offset-1">
                <h2>Kindle标注处理程序</h2>
            </div>
        </div>
        <div class="row nav">
            <div class="col-md-10 col-md-offset-1">
                {% block nav %}
                {% endblock %}
            </div>
        </div>
        {% block table %}{% endblock %}
        <div class="row select">
            <div class="col-md-10 col-md-offset-1">
                {% block select %}{% endblock %}
            </div>
        </div>
    </div>
    {% block scripts %}
        <script src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dialog-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/js.js') }}"></script>
    {% endblock %}
{% endblock %}

