{% extends 'bootstrap/base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui-dialog.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block body %}
    {# 主体内容开始 #}
    <div class="container">
    {# 标题区开始 #}
        <div class="row main-title">
            <div class="col-md-10 col-md-offset-1">
                <h2>Kindle标注处理程序</h2>
            </div>
        </div>
    {# 标题区结束 #}

{% block nav %}{% endblock %}

{% if mark %}
    {% block table %}{% endblock %}
{% endif %}

{% if bookList %}
    {% block select %}{% endblock %}
{% endif %}

    {# 主体区结束 #}
    </div>

    {% block scripts %}
        <script src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dialog-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/js.js') }}"></script>
    {% endblock %}

{% endblock %}

